*{
  font-family: 'Spartan', sans-serif;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

hr { 
  width: 100%;
  margin: 0;
  height: 1px;
  color: darkslategray;
  background-color: darkslategrey;
  border: none;
}

h2, h3 {
  margin-top: 0px;
  background-color: inherit;
}

h1 {
  font-weight: 500;
  font-size: 70px;
}

p {
  margin-top: .5em;
  display: block;
  font-family: 'Open Sans', sans-serif;
  background-color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0px 10px 0px 25px;
  background-color: inherit;
  font-family: inherit;
}


li {
  padding: 5px;
  background-color: inherit;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

a {
  background-color: inherit;
  font-family: "Open Sans", sans-serif;
  color: inherit;
}

.embedded-link {
  color: #ff9900;
}

.embedded-link:hover {
  color: salmon;
}

.header {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-bar {
  background-color: papayawhip;
  padding: 8px 25vw;
  display: flex;
  justify-content: space-around;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 1px solid darkslategray;
}

.nav-button {
  color: black;
  padding: 0px 8px 2px 8px;
  font-size: 30px;
  font-variant: small-caps;
  text-decoration: none;
  border-bottom: solid;
  border-width: 2px;
  border-color: transparent;
}

.nav-button:hover {
  border-color: palevioletred;
}

.nav-button-selected {
  border-color: black;
}

.resume-button {
  border: 1px darkslategray solid;
  border-radius: 3px;
  padding-bottom: 5px;
  background-color: peachpuff;
}

.resume-button:hover {
  background-color: pink;
}

.content {
  margin: auto;
  max-width: 80vw;
  display: inline;
  padding-bottom: 80px;
}

.back-to-top {
  position: fixed;
  bottom: 1%;
  right: 1%;
  margin: 50px;
}

.me-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scroll-in-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

.scroll-in-container-animation {
  animation: wipe-enter 1s 1;
}

.card {
  border-radius: 3px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); 
}

.contact-link {
  padding-left: 10px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}